.carousel.slide{ html_options }
  - if slides.count >= 2
    -# Indicators
    %ol.carousel-indicators
      - slides.each_with_index do |slide, index|
        %li{data: { target: '#' + id, slide_to: index }}

  -# Wrapper for slides
  .carousel-inner{ role: 'listbox' }
    - slides.each_with_index do |slide, index|
      %div{ class: (index == 0) ? 'item active' : 'item' }
        = slide

  - if slides.count >= 2
    -# Controls
    %a.left.carousel-control{ href: '#' + id, role: 'button', data: { slide: 'prev' } }
      = icon 'chevron-left'
      .sr-only Previous
    %a.right.carousel-control{ href: '#' + id, role: 'button', data: { slide: 'next' } }
      = icon 'chevron-right'
      .sr-only Next

- add_footer_javascript do
  :javascript
    $(function() {
      $('##{id}.carousel').carousel();
    });