%li{class: 'dropdown ' + css_class}
  %a.dropdown-toggle{ id: id, href: href, data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: false } }
    = text
    %b.caret
  %ul.dropdown-menu{ role: 'menu', aria: { labelledby: id } }
    = block