.modal.fade{:id => id, :tabindex => -1, :role => 'dialog', :aria => {:labelledby => 'modalLabel'}}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}, :aria => {:hidden => true}}= 'x'
        %h3#modalLabel= title
      #modal-body.modal-body
        = block
      .modal-footer
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}, :aria => {:hidden => true}}= close_text
