%nav.navbar.navbar-default{'role'=>'navigation'}
  .container-fluid
    .navbar-header
    -# .btn-navbar is used as the toggle for when the responsive design gets narrow and the navbar goes away
    %button.navbar-toggle{'data-target'=>".navbar-collapse", 'data-toggle'=>"collapse"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to BootstrapLeather.configuration.application_title, BootstrapLeather.configuration.application_path, :class => 'navbar-brand'
    .collapse.navbar-collapse
      = block
